

{% extends 'layout.html' %}

{% block body %}
  <h1>Dons</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name_first, class_="form-control") }}
      {{ render_field(form.name_last, class_="form-control") }}
      {{ render_field(form.email, class_="form-control") }}
      {{ render_field(form.money, class_="form-control") }}
       {{ form.hidden_tag() }}
        {{ form.checkbox() }}

    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}